body {
	/* background: url("../img/gray.png") repeat scroll 0 0 white;
           removed bg image done srinvias */
        background: white;        
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	color: #666666;
	padding: 0px;
	margin: 0px;
}
	  .centre{ margin:0 auto; }
	 .layout { padding: 50px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; width:50%; }
	 .layout-slider { margin-bottom: 10px; width: 50%; }
	 .layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
	 .layout-slider-settings pre { font-family: Courier; }
	 .odd { background:#ebebeb; }
	 .even { background:#f7f7f7; }
	 .number{
		  	color: #52AAE0;
			font-family:;
			font-size: 1.8em;
			font-weight: 700;
			height: 25px;
			line-height: 25px;
			padding-right:10px;
	 }
	 a img {
    border: medium none;
}
a {
    color: #2BA6CB;
    line-height: inherit;
    text-decoration: none;
}
a:hover {
    color: #2795B6;
}
a:focus {
    color: #2795B6;
}
p a, p a:visited {
    line-height: inherit;
}
.left {
    float: left;
}
.right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 14px;
    margin-top: 14px;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #6F6F6F;
    font-size: 60%;
    line-height: 0;
}
h1 {
    font-size: 44px;
}
h2 {
    font-size: 37px;
}
h3 {
    font-size: 27px;
}
h4 {
    font-size: 23px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 14px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 22px 0 21px;
}
.subheader {
    color: #6F6F6F;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 17px;
}
em, i {
    font-style: italic;
    line-height: inherit;
}
strong, b {
    font-weight: bold;
    line-height: inherit;
}
small {
    font-size: 60%;
    line-height: inherit;
}


input {
    font-family: 'Open Sans',sans-serif;
    outline: medium none;
}
.main {
    margin: 0 auto;
    width: 960px;
}

.white{
   margin: 50px auto;
    //width: 960px;
	background:#FFF;
	border-color: #E4E6E7;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    margin-bottom: 30px;
    padding: 30px 0;
}
.logo {
    margin: 0 auto;
    width: 200px;
}
.content {
    margin: 0 auto;
    width: 960px;
}
.content .line {
    background: url("../img/line01.png") no-repeat scroll center center transparent;
    height: 20px;
    margin: 15px auto 0;
    width: 960px;
}
.content .line .text {
       /* color: #3576BC; 
    modified by srinvas */
    color: #000000; 
    font-size: 24px;
    font-weight: 300;
    margin: 0px auto;
	padding-top: 10px;
    text-align: center;
}
.content .motto {
    /* color: #3576BC; 
    modified by srinvas */
    color: #000000; 
    font-size: 22px;
    line-height: 28px;
    padding: 30px 5px 20px 5px;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(139, 212, 237, 0.5);
    width: 960px;
}
.content .line2 {
    background: url("../img/line02.png") no-repeat scroll center center transparent;
    height: 20px;
    margin: 0 auto;
    width: 960px;
}

.niceLetters {
    color: #3576BC;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
    /*text-shadow: 1px 1px 0 #146482;*/
}


.main {
    margin-top: 50px !important;
}
 .centre{ margin:0 auto; }
	 .layout { padding: 50px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; width:50%; }
	 .layout-slider { margin-bottom: 10px; width: 50%; }
	 .layout-slider-settings { font-size: 12px; padding-bottom: 10px; }
	 .layout-slider-settings pre { font-family: Courier; }
	 .odd { background:#ebebeb; }
	 .even { background:#f7f7f7; }
	 .number{
		  	color: #52AAE0;
			/*font-family:;*/
			font-size: 1.8em;
			font-weight: 700;
			height: 25px;
			line-height: 25px;
			padding-right:10px;
	 }
.PageGenerationMessage { display: none; }