#jobdetails {

         form {
        p { color: @grayDark !important; }
}
	.inline-save { 
	background:@blue !important;
        .gradient(@blue, @blueDark);
	color:@white;
       
    }
    .inline-cancel{
	background-color:@red;
	.gradient(@red, @redDark);
	color:@white;
    }
     .head {
        .icon_c, .icon_e { 
            width: 18px; 
            height: 18px;
            margin: 0 6px 0 0;
            float: right;
            background: url(Skins/@{theme}/images/accordion_icons.png) no-repeat 0px top;
        }
        .border-radius(2px);
        
        .icon_e { background-position: -16px top; }
        //background: url("Skins/@{theme}/images/header.png") no-repeat; 
        background-color: @grayDark;
        color:@white; 
        font-weight:bold;
        cursor: pointer; 
        padding: 8px 0 8px 6px;
    }
    input.textSubmitButton {
	.form-button;
        }
}

#EQ7 { 

.leftAlign {
        color:@black;
    }
}

.RAHistoryNotes{
    color:@black !important;
}