body{
background:@telegistics-gray;
}
a, a:focus { color: @black; }

a:hover { color: @gray; }

#header { 
    #welcome { 
    color: @white;  }
}

#container-main {
	background:#ffffff url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;  
	border-top:1px solid #e7e7e7;
}

legend{
    color: @orange;
    background-image:url(Skins/@{theme}/images/telegistics_label_icon.png);
    background-repeat:no-repeat;
    background-position:3% 30%;
    padding:0 29px;
	}

#menu { 
    button {
	.plain-button( @black, @black, @grayDark );
        span.label { color:@grayDark !important; }
	border:1px solid @grayMenuBorder;
	background-image:url(Skins/@{theme}/images/menu_bckg2.png);
    } 
    button:hover{
	color:@grayLightest;
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	border-top:1px solid @black;
	border-left:1px solid @grayLight;
	border-right:1px solid @grayLight;
	border-bottom:1px solid @gray;
	}
	button:active{
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	color:@grayLightest;
        border-top:1px solid @gray;
	}
    .disabled { color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.breadcrumb {
    div { 
        color: @black;
        a { color: @black; }
		 background: #EFEFEF;
    	border: 1px solid #CDCDCD;
        a:hover { color: @gray; }
    }
}

#jobSearchForm a, #productSearchForm a, #newJobBookingForm a, #policySearchForm a {
    .form-button;
    background:@green;
}

#jobSearchForm a:hover, #productSearchForm a:hover, #newJobBookingForm a:hover, #policySearchForm a:hover{
.form-button-hover;
background:lighten(@green, 10%);
	}
#jobSearchForm a:active, #productSearchForm a:active, #newJobBookingForm a:active, #policySearchForm a:active{
 .form-button-active;
background:darken(@green, 10%);
	}

/* logout button */

html body div#container-main div#header span#welcome a{
.form-button;
padding:3px 15px 3px 20px;
background:lighten(@green, 20%);
color:@white;
}

html body div#container-main div#header span#welcome a:hover{
.form-button-hover;
background:lighten(@green, 30%);
}

html body div#container-main div#header span#welcome a:active{
.form-button-active;
background:lighten(@green, 10%);
}

/*  Default Diary  */

.siteMapPanel {

 .borderDiv {
   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
 }
 
 #thirdDiv{
.form-button{
border:1px solid darken(green, 10%);
background:@green;
  }
 }
}


#JobNetworkClientForm
{
        .form-button {
			border:1px solid darken(green, 10%);
                        background:@green;
        }
}

.jobBookingPanel {
    .blueText { color:@black; }
    form {
        .form-button {
			border:1px solid darken(green, 10%);
                        background:@green;
        }
    }
}

.DTTT_button {
    .form-button;
    border:1px solid darken(green, 10%);
    background:@green;
        &:hover{
        .form-button-hover;
        background:lighten(@green, 10%);
        }
        &:active{
        .form-button-active;
        background:darken(@green, 10%);
        }
}

.blueBtn {
   .form-button;
    &:hover{
        .form-button-hover;
        background:lighten(@green, 10%);
        }
    &:active{
        .form-button-active;
        background:darken(@green, 10%);
        }
}

a.inline-edit{
    .form-button;
    color:@white;
    border:1px solid darken(green, 10%);
    background:@green;
&:hover{
        .form-button-hover;
        background:lighten(@green, 10%);
        }
}

a.colorbox{
    .form-button;
    color:@white;
    border:1px solid darken(green, 10%);
    background:@green;
&:hover{
        .form-button-hover;
        background:lighten(@green, 10%);
        }
}


#timeline_container {
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    }

form {
input#quick_find_btn,input#quick_find_btn2 {
        background-image:url('Skins/@{theme}/images/find_address.png');
    }  
}

.raJobsPanel {
   .leftAlign {
        color:@black;
    }
}


#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png);
}

* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    color:@grayDark;
}

a.paginate_active{
    color:@black !important;
}

form{
    input.textSubmitButton{
    .form-button;
    border:1px solid darken(green, 10%);
    background:@green;
    }
}

.tableHover {
	background-color: @grayLight;
}

.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    border: 1px solid @black;
}


.AdminItemPanel{
background:url("Skins/@{theme}/images/folder.png") no-repeat 20px 20px;
label{
color: @black;
}
}

.bottomButtonsPanel button#finish_btn.gplus-blue{
float:right !important;
}
fieldset { 
    padding:0 1.4em 1.4em 1.4em;   
   /* margin: 0 0 1.5em 0;   */
    margin: 0 0 0.4em 0;
    border: 1px solid @gray !important; 
    .border-radius(2px);
}

#error{
background: url("Skins/@{theme}/images/error_page.png") no-repeat scroll left top transparent;
}

.blueBtn{
    .form-button;
    border:1px solid darken(green, 10%);
    background:@green;
}

.jobConfirmation .form-button{
    .form-button;
    border:1px solid darken(green, 10%);
    background:@green;
}

#jobdetails .inline-save{
    background:@green !important;
    padding:5px 7px;
}

#deliveryAddress fieldset legend{
    background-image:url("Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png");
}

#CustomerDetails fieldset legend{
    background-image:url("Skins/@{theme}/images/icons_skyline/icons_skyline_user.png");
}
fieldset p{
    margin:0 0 1.0em;
}